<ion-view class="login">

  <ion-content class="has-big-subfooter">
    <img class="col-offset-10 col-80" src="img/login/mg-logo.svg" />
  </ion-content>

    <div class="big-subfooter">

        <button class="col button secondary-button text-inverse" ng-click="vm.loginFB()">
          Log in with Facebook
          <i class="icon ion-social-facebook text-inverse"></i>
        </button>

        <button class="col button primary-button text-solid" ng-click="vm.continueWithoutFB()">
          Play without fun features
        </button>

    </div>

    <div class="bar-footer row">

      <div class="col col-33 text-center">
        <img src="img/login/united-way-logo.svg" />
      </div>

      <div class="col col-33 text-center">
        <img src="img/login/united-way-atl-logo.svg" />
      </div>

      <div class="col col-33 text-center">
        <img src="img/login/suntrust-logo.svg" />
      </div>

    </div>

</ion-view>

