<ion-view view-title="Coaching" class="coaching">

  <ion-nav-bar>
    <ion-nav-back-button class="button-stable">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <iframe ng-src="{{ vm.loadCoachingPageUrl() }}" scrolling="no" frameborder="0" class="full-screen"></iframe>
  </ion-content>

</ion-view>

