<ion-view class="profile">

  <ion-nav-bar class="big-header">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <div class="text-center">
      <img class="user-avatar" ng-class="{'circle-image': vm.user.player.avatar_url}"
           src="{{ vm.user.player.avatar_url || 'img/profile/guest-avatar.svg' }}" />
    </div>

  </ion-nav-bar>

  <ion-content class="has-big-header">

    <div class="row">
      <ion-toggle ng-model="vm.loggedIn" ng-change="vm.toggleLogin()" class="toggle-small" toggle-class="toggle-positive">
        <i class="icon ion-social-facebook"></i>
      </ion-toggle>
      <div class="col name"><h1>{{ vm.user.player.name || 'Guest' }}</h1></div>
    </div>

    <div class="stat-container padding">
      <ion-list>
        <ion-item class="module-level-item" ng-class="{'none-top-border':$first}" ng-repeat="module in vm.modules">
          <span class="module-level-text">{{ module.name }}</span>
          <span class="text-center module-level-label">{{ vm.getModuleLevel(module.id) }} / {{ module.max_levels }}</span>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>

</ion-view>

