<ion-modal-view class="mg-modal savings-calc results">

  <ion-content class="text-center">

    <div class="header text-center">
      <a class="top-right">
        <i class="ion-icon ion-close" ng-click="vm.resultsModal.remove()"></i>
      </a>
      <img src="img/tools/savings-logo.svg" class="col-25" />
      <h1>Final savings balance</h1>
    </div>

    <div class="bottom">
      <table>
        <tr>
          <th>YEAR</th>
          <th>BALANCE</th>
        </tr>
        <tr ng-repeat="year in vm.savingsCalcData.savingsPerYear">
          <td>{{ $index + 1 }}</td>
          <td>${{ year }}</td>
        </tr>
      </table>
    </div>

  </ion-content>

</ion-modal-view>

