<ion-modal-view class="mg-modal loan-calc">

  <ion-content class="text-center">
    <a class="top-right">
      <i class="ion-icon ion-close" ng-click="vm.toolModal.remove()"></i>
    </a>
    <img src="img/tools/calculator-logo.svg" class="col-25" />

    <form class="text-center" name="LoanCalculatorForm" novalidate>
      <label>
        <span>Loan amount ($)</span>
        <input type="number" min="0" ng-model="vm.loanCalcData.amount" required />
      </label>

      <label>
        <span>Interest rate (%)</span>
        <input type="number" min="0" ng-model="vm.loanCalcData.rate" required />
      </label>

      <label>
        <span>Loan term (years)</span>
        <input type="number" min="0" max="9999" ng-model="vm.loanCalcData.years" required />
      </label>
    </form>

    <button ng-click="vm.showLoanCalcResult($event)"
            class="bottom button" ng-disabled="LoanCalculatorForm.$invalid">
      Calculate
    </button>
  </ion-content>

</ion-modal-view>

