<ion-modal-view class="mg-modal loan-calc results">

  <ion-content class="text-center">

    <div class="header text-center">
      <a class="top-right">
        <i class="ion-icon ion-close" ng-click="vm.resultsModal.remove()"></i>
      </a>
      <img src="img/tools/calculator-logo.svg" class="col-25" />
      <h1>Results</h1>
    </div>

    <dl class="bottom">
      <dt>Loan amount:</dt>
      <dd>${{ vm.loanCalcData.amount }}</dd>

      <dt>Interest Rate:</dt>
      <dd>{{ vm.loanCalcData.rate }}%</dd>

      <dt>Loan Term:</dt>
      <dd>{{ vm.loanCalcData.years }} years</dd>

      <dt>Total monthly payment:</dt>
      <dd>${{ vm.loanCalcData.payment }}</dd>
    </div>

  </ion-content>

</ion-modal-view>

