<ion-view class="home">

  <ion-content class="has-footer">

    <a class="play-btn col-offset-10 col-80" ng-click="vm.showModulesMenu()">
      <img class="col" src="img/home/playBtn.svg" />
    </a>

  </ion-content>

  <div class="bar bar-footer footer-nav">

    <a class="icon-text" ui-sref="profile">
      <img src="img/home/me.svg" />
      <span>Me</span>
    </a>

    <a class="icon-text" ui-sref="tools">
      <img src="img/home/tools.svg" />
      <span>Tools</span>
    </a>

  </div>

</ion-view>

