<ion-modal-view class="modules">
  <header>
    <a class="close-icon top-right">
      <i class="close-icon ion-icon ion-close" ng-click="vm.modulesModal.remove()"></i>
    </a>
    <div class="background"></div>
    <div class="circle">
      <div class="circle_inner">
        <div class="circle_wrapper">
          <div class="content">Modules</div>
        </div>
      </div>
    </div>
  </header>
  <div class="scroll-content ionic-scroll overflow-scroll has-big-header">
    <ul class="list scroll">
      <li ng-repeat="module in vm.modules">
        <a class="item" ng-click="vm.goToGameModule(module)">
          <span>{{ module.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</ion-modal-view>
