<ion-modal-view class="mg-modal dictionary">

  <div class="header">
    <a class="top-right">
      <i class="ion-icon ion-close" ng-click="vm.definitionModal.remove()"></i>
    </a>
    <img src="img/tools/dictionary-logo.svg" class="col-25" />
  </div>

  <ion-content>

    <h1>{{ vm.dictionaryTerm.term }}:</h1>
    <p>{{ vm.dictionaryTerm.definition }}</p>

  </ion-content>

</ion-modal-view>

