<ion-view class="dictionary">

  <ion-nav-bar class="big-header">

    <ion-nav-back-button class="button-stable">
    </ion-nav-back-button>

    <div class="text-center">
      <img src="img/tools/dictionary-logo.svg" />
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input ng-model="vm.search" type="text" placeholder="Search">
        </label>
      </div>
    </div>

  </ion-nav-bar>

  <ion-content class="has-big-header">

    <ul ng-repeat="group in vm.groupedTerms | orderBy:'initial'">
      <li class="term" ng-repeat="dictionaryTerm in group.terms | filter:vm.search" ng-click="vm.showDefinition(dictionaryTerm)">
        <span class="initial-tab" ng-show="$index === 0">{{ group.initial }}</span>
        {{ dictionaryTerm.term }}
      </li>
    </ul>

  </ion-content>

</ion-view>

