<ion-modal-view class="mg-modal">

  <ion-content class="text-center">
    <a class="top-right">
      <i class="ion-icon ion-close" ng-click="modal.remove()"></i>
    </a>
    <img src="img/game/exclamation.svg" class="col-25" />
    <h1 class="warning">Wait!</h1>
    <p>You must complete 5 questions in a row or you will have to start over!</p>
    <button ng-click="exit()" class="bottom button">Go back anyway</button>
  </ion-content>

</ion-modal-view>

