<ion-view class="game">

  <ion-nav-bar class="game-header-bar">
    <ion-nav-back-button ng-click="vm.goBack($event)">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-footer">

    <div id="correct-toast" class="toast">
      <p>Correct!</p>
    </div>

    <div id="incorrect-toast" class="toast">
      <p>Oops! Try again</p>
      <p ng-show="vm.hint">Hint: There's a hint!</p>
    </div>

    <div>

      <div class="question-container text-center">

        <p class="text-inverse"><strong>Level {{ vm.currentModuleLevel.level }}</strong></p>

        <p>
          <span ng-repeat="i in vm.toArray(vm.TOTAL_QUESTIONS)" class="progress"
                ng-class="{'empty-progress': vm.numAnswered < $index,
                           'full-progress': vm.numAnswered >= $index}">
          </span>
        </p>

        <p class="text-inverse question">{{ vm.question }}</p>

        <div>
          <button class="navigation-arrow" ng-click="vm.goToPrevQuestion()"
                  ng-disabled="vm.questionCounter == 0">
            <i class="icon ion-chevron-left"></i>
          </button>
          <button class="navigation-arrow" ng-click="vm.goToNextQuestion()"
                  ng-disabled="vm.questionCounter >= vm.numAnswered">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>

        <div class="circle-container">
          <span class="circle-text text-inverse">
            <strong>{{ vm.points }}</strong><br />
            pts
          </span>
        </div>

      </div>

      <ul class="list">
        <li class="item item-text-wrap" ng-repeat="option in vm.answerOptions"
             ng-click="vm.checkAnswer(option)" ng-class="{'answered': option.answered}">
          <p>{{ option.text }}</p>
        </li>
      </ul>

    </div>

  </ion-content>

  <div class="bar bar-footer">
    <div class="button-bar">
      <button class="button tools-icon" ui-sref="tools"></button>
      <button class="button hint-icon" ng-click="vm.showHint($event)" ng-disabled="!vm.hint"></button>
    </div>
  </div>

</ion-view>

