<ion-modal-view class="mg-modal">

  <div class="hint-header text-center">
    <a class="top-right">
      <i class="ion-icon ion-close" ng-click="modal.remove()"></i>
    </a>

    <img src="img/game/hint.svg" class="col-50" />
  </div>

  <ion-content class="text-center">
    <p class="hint">{{ vm.hint }}</p>
  </ion-content>

</ion-modal-view>

