<ion-view class="level-complete">

  <ion-content class="has-big-footer">
    <h1 class="title">Well done!</h1>
    <h2>Level complete</h2>
  </ion-content>

  <div class="big-footer">
    <button class="button button-block" ui-sref="home"><i></i>Home</button>
    <button class="button button-block" ui-sref="game">Next Level<i></i></button>
  </div>

</ion-view>

