<ion-modal-view class="mg-modal loan-calc">

  <ion-content class="mg-no-questions-wrapper">
    <h1 class="mg-no-questions-title"> You've completed this module! </h1>
    <button class="button mg-go-back-button" ng-click="modal.remove()" ui-sref="home">
      Go back
    </button>
  </ion-content>

</ion-modal-view>

