<ion-view class="tools">

  <ion-nav-bar class="big-header">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <div class="text-center">
      <img src="img/tools/tools-icon.svg" class="col-67" />
    </div>

  </ion-nav-bar>

  <ion-content class="has-big-header">

    <ion-list>

      <a ng-click="vm.showLoanCalculator()" class="item icon-text icon-loan">
        <span>Loan Calculator</span>
      </a>

      <a ng-click="vm.showSavingsCalculator()" class="item icon-text icon-savings">
        <span class="col-offset-10">Savings Calculator</span>
      </a>

      <a ui-sref="dictionary" class="item icon-text icon-dict">
        <span>Dictionary</span>
      </a>

      <a ui-sref="coaching" class="item icon-text icon-coaching">
        <span>Coaching</span>
      </a>

    </ion-list>

  </ion-content>

</ion-view>

