@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  src: url('../fonts/YanoneKaffeesatzRegular.eot');
  src: url('../fonts/YanoneKaffeesatzRegular.eot') format('embedded-opentype'),
       url('../fonts/YanoneKaffeesatzRegular.woff2') format('woff2'),
       url('../fonts/YanoneKaffeesatzRegular.woff') format('woff'),
       url('../fonts/YanoneKaffeesatzRegular.ttf') format('truetype'),
       url('../fonts/YanoneKaffeesatzRegular.svg#YanoneKaffeesatzRegular') format('svg');
}

@font-face {
  font-family: 'YanoneKaffeesatz-Light';
  src: url('../fonts/YanoneKaffeesatz-Light.eot');
  src: url('../fonts/YanoneKaffeesatz-Light.eot') format('embedded-opentype'),
       url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'),
       url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype'),
       url('../fonts/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
}

*, .button, .title, h1, h2, h3, span, button {
  font-family: "YanoneKaffeesatzRegular";
  font-size: 120%;
  color: #7E8082;
}

.big-header {
  position: absolute;
  top: 0;
  height: 175px !important;
  border: none;
  background-size: 100%;
  background-position: top;
}

.big-footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
}

.big-subfooter {
  position: absolute;
  width: 100%;
  bottom: 44px;
}

.has-big-header {
  top: 175px !important;
}

.has-big-footer {
  bottom: 120px;
}

.has-big-subfooter {
  bottom: 165px;
}

.primary-button {
  background-color: #FAB22E;
}

.secondary-button {
  background-color: #6C81C1;
}

.button.activated {
  border: none;
}

.text-inverse {
  color: #FFFFFF;
}

.text-solid {
  color: #1C4E9D;
}

.icon-text {
  height: 100%;
}

.icon-text img {
  max-height: 80%;
  display: inline-block;
  vertical-align: middle;
}

.icon-text span {
  vertical-align: middle;
}

.circle-image {
  border-radius: 50%;
}

.toast {
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5%;
  right: 5%;
  background-color: #FFFFFF;
  padding: 15px 0 5px;
  line-height: 1.4em;
  text-align: center;
  transition: opacity 0.5s ease-out;
  box-shadow: 0px 5px 50px 1px rgba(56, 56, 56, 0.8);
  z-index: 1;
}

.mg-popover {
  position: absolute;
  height: auto;
  margin: auto !important;
  width: 86%;
  max-width: 310px;
  top: 5% !important;
  left: 0 !important;
  right: 0;
  border-radius: 0;
}

.mg-popover.loan-calc {
  height: 406px;
}

.mg-popover.loan-calc .bottom {
  position: absolute;
}

.mg-modal .scroll {
  height: 100%;
}

.mg-modal label span {
  font-family: 'YanoneKaffeesatz-Light';
  color: #464648;
  display: block;
}

.mg-modal input, .mg-modal select {
  font-family: 'YanoneKaffeesatz-Light';
  margin: 0 auto 0.5em;
  border: solid 1px #B2B1B0;
  width: 70%;
  padding-left: 2em;
  display: block;
}

.mg-modal form {
  margin-top: 0.3em;
}

.mg-modal img {
  margin-top: 3%;
}

.mg-modal h1 {
  margin-top: 2%;
  color: #1C4E9D;
  font-size: 1.5em;
}

.mg-modal h1.warning {
  font-family: 'YanoneKaffeesatz-Light';
  color: #F14824;
  font-size: 4em;
}

.mg-modal p {
  font-family: 'YanoneKaffeesatz-Light';
  color: #1C4E9D;
  padding: 0 20px;
  font-size: 1.2em;
  line-height: 1.2em;
}

.mg-modal .bottom {
  position: absolute;
  bottom: 0;
  background-color: #F14824;
  color: #FFFFFF;
  display: block;
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.keyboard-open .mg-modal .bottom {
  position: relative;
}

.mg-modal .bottom * {
  color: inherit;
  background-color: inherit;
}

.mg-modal dl {
  padding: 10% 0 5%;
  margin: 0;
  height: 60%;
  font-size: 0.8em;
}

.mg-modal dt {
  font-family: 'YanoneKaffeesatz-Light';
  text-align: right;
  width: 50%;
  display: inline-block;
  margin: 5% 3% 5% 0;
  margin-bottom: 0.5em;
}

.mg-modal dd {
  text-align: left;
  width: 40%;
  display: inline-block;
  margin: 5% 0;
}

.loan-calc.mg-modal label {
  display: block;
  height: 30%;
  max-height: 100px;
}

.loan-calc.mg-modal form {
  padding-top: 10%;
}

.mg-modal.results .bottom {
  height: 65%;
}

.savings-calc.mg-modal label {
  display: block;
  height: 20%;
  min-height: 60px;
}

.footer-btn {
  position: relative;
}

.savings-calc.results .bottom {
  padding: 10px 0;
}

.savings-calc.results table {
  width: 100%;
}

.savings-calc.results table th {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: solid 1px #FFFFFF;
  padding: 0 10px 10px;
  text-align: left;
}

.savings-calc.results table th:first-child {
  text-align: right;
  border-right: solid 1px #FFFFFF;
}

.savings-calc.results table td {
  text-align: left;
  padding: 0 20px 5px;
  width: 50%;
}

.savings-calc.results table td:first-child {
  text-align: right;
}

.mg-keyboard-open {
  position: relative !important;
}

.mg-keyboard-closing {
  display: none !important;
}

.mg-modal.header {
  width: 100%;
  background-color: #FFFFFF;
  height: 40%;
}

.mg-modal .hint-header {
  background-image: url('../img/profile/background.svg');
  background-repeat: no-repeat;
  background-size: 101%;
  padding-bottom: 10%;
  width: 100%;
}

.mg-modal .hint-header i {
  color: #FFFFFF;
}

.mg-modal .hint-header a {
  z-index: 2;
}

.mg-modal .hint {
  position: relative;
  margin-top: 60%;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.login ion-content {
  background-image: url('../img/login/background.svg');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.login ion-content:before, .home ion-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.login ion-content div {
  height: 100%;
}

.login ion-content img {
  margin-top: 15%;
}

.login .bar-footer {
  background-color: #1C4E9D;
  position: absolute;
}

.login .big-subfooter {
  padding: 5px 10px;
}

.login .big-subfooter button {
  height: 44px;
  font-size: 1em;
  line-height: 100%;
  border-radius: 0;
  margin-bottom: 5px;
}

.login .big-subfooter button:active {
  color: #FAB22E;
  background-color: #1C4E9D;
}

.login .bar-footer.row {
  padding: 5px;
}

.login .bar-footer div {
  padding: 0;
  height: 100%;
}

.login .bar-footer img {
  max-height: 100%;
}

.login button .icon {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.footer-nav a {
  text-align: center;
  width: 50%;
  text-decoration: none;
  padding-top: 0.5em;
}

.footer-nav.bar {
  padding: 0;
}

.home ion-content {
  background-image: url(../img/home/background.svg);
  background-position: bottom;
  background-size: 101%;
  background-repeat: no-repeat;
}

.home .play-btn {
  margin-top: 50%;
  display: inline-block;
}

.home .footer-nav {
  background-color: #FAB22E;
}

.home .footer-nav span {
  color: #1C4E9D;
}

.profile .big-header {
  width: 100%;
}

.profile .big-header ion-header-bar {
  background-image: url('../img/profile/background.svg');
  background-repeat: no-repeat;
  background-size: 101%;
}

.profile .big-header img {
  z-index: 10;
  position: relative;
  max-height: 130px;
  margin-top: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.profile .big-header img.circle-image {
  border: solid 3px #FBC2A6;
}

.profile ion-header-bar button * {
  color: #444;
}

.profile .item-toggle {
  background-color: #1C4E9D;
  padding: 5px 60px 5px 25px;
  border: none;
  margin: 0;
}

.profile .row {
  padding: 0;
}

.profile i {
  font-size: 2.5em;
  color: #FFFFFF;
}

.profile .name {
  border: none;
  background: linear-gradient(to right, #9b311b 0%, #f14824 15%);
  padding: 10px 0 0 10%;
}

.profile .name h1 {
  color: #FFFFFF;
  font-weight: bold;
}

.profile .stat-container {
  margin-top: 20px;
}

.profile .stat-container:last-child {
  margin-bottom: 20px;
}

.profile ion-content h3, .profile h2 {
  padding: 0;
  margin: 0;
  color: #1C4E9D;
  line-height: 100%;
}

.profile ion-content h2 {
  font-weight: bold;
  font-size: 2em;
}

.profile ion-content h3 {
  font-size: 0.8em;
  font-weight: bold;
}

.mg-no-questions-title {
  margin-top: 50% !important;
  text-align: center;
}

.mg-go-back-button {
  background-color: #1C4E9D;
  color: white;
}

.mg-no-questions-wrapper {
  text-align: center !important;
}

.game * {
  font-family: 'YanoneKaffeesatz-Light';
}

.game ion-header-bar button * {
  color: #FFFFFF;
}

.game ion-content.has-header {
  top: 0;
  z-index: 9;
}

.game ion-nav-bar * {
  border: none;
}

.game strong {
  font-weight: bold;
  font-family: "YanoneKaffeesatzRegular";
  font-size: 1.3em;
  color: #FFF;
}

.game .question-container {
  background-color: #1C4E9D;
  padding: 20px 1.3em 37px;
  margin-bottom: 15%;
  position: relative;
}

.game .question {
  margin-bottom: 10%;
  line-height: 1.1em;
  font-family: 'YanoneKaffeesatz-Light';
}

.game .navigation-arrow {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.game .navigation-arrow:first-child {
  left: 0;
  margin-left: 10px;
}
.game .navigation-arrow:nth-child(2) {
  right: 0;
  margin-right: 10px;
}

.game .navigation-arrow i {
  color: #FFFFFF;
}

.game .navigation-arrow[disabled] i {
  color: grey;
}

.game .circle-container {
  position: relative;
}

.game .circle-text {
  font-size: 0.7em;
  background-color: #F14824;
  border: solid 4px #FFF;
  border-radius: 50%;
  padding: 10px 5px 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
}

.game .progress:before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  display: inline-block;
}

.game .progress.empty-progress:before {
  background-image: url('../img/game/empty-circle.svg');
}

.game .progress.full-progress:before {
  background-image: url('../img/game/full-circle.svg');
}

.game .answered {
  background-color: #FEE6B9;
}

.game .list .item {
  border: none;
  padding: 0 40px;
}

.game .list .item p {
  font-size: 1.1em;
  color: #464648;
  padding: 15px 10px;
  border-top: solid 1px #949595;
}

.game .list .item:first-child p {
  border-top: none;
}

.game .bar-footer {
  border-top: solid 2px #F14824;
  padding: 0;
}

.game .tools-icon {
  margin-left: 75%;
  background-image: url('../img/game/tools-icon.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
}

.game .hint-icon {
  background-color: #F14824;
  background-image: url('../img/game/hint-icon.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 !important;
}

.game-header-bar{
  background-color: #1C4E9D;
  padding-bottom: 15%;

}

.level-complete ion-content {
  padding-top: 5%;
  text-align: center;
  background-image: url('../img/level-complete/fireworks-bg.svg'), url('../img/level-complete/background.svg');
  background-size: 75% 35%, contain;
  background-position: center 50%, bottom;
  background-repeat: no-repeat;
}

.level-complete ion-content h1 {
  font-family: 'YanoneKaffeesatz-Light';
  font-size: 3em;
  line-height: 0.8em;
  color: #00529C;
  margin: 0;
}

.level-complete ion-content h2 {
  margin: 0;
  font-family: 'YanoneKaffeesatz-Light';
  color: #F25D2A;
  margin-right: 15%;
}

.level-complete .big-footer button {
  height: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: #00529C;
  color: #FFFFFF;
}

.level-complete .big-footer i:after {
  content: '';
  background-image: url('../img/level-complete/chevron-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  vertical-align: middle;
  margin-left: 10px;
}

.level-complete .big-footer button:first-child {
  border-bottom: dashed 1px #FFFFFF;
}

.level-complete .big-footer button:first-child i:after {
  background-image: url('../img/level-complete/chevron-left.svg');
  margin-right: 10px;
  margin-left: 0;
}

#correct-toast p {
  font-size: 1.5em;
  color: #00529C;
}

#incorrect-toast p {
  font-size: 1.5em;
  color: #F25D2A;
}

.tools .big-header {
  background-color: transparent;
  background-image: url('../img/tools/background.svg');
  background-repeat: no-repeat;
  background-clip: content-box;
  width: 100%;
  height: 130px !important;
  padding: 0 0 43.5px;
}

.tools .big-header img {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 10;
  position: relative;
  margin-top: 43.75px;
  height: 87.5px;
}

.tools .has-big-header {
  top: 130px !important;
}

.tools ion-header-bar button * {
  color: #FFFFFF;
}

.tools .item {
  font-size: 70%;
}

.tools .icon-text span {
  width: 210px;
  margin: 0 auto;
  display: block;
  text-align: left;
}

.tools .icon-text span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  width: 2.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.tools ion-content {
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0);
  overflow: visible;
  text-align: center;
}

.tools .item {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.tools .item:first-child {
  border-top: none;
}

.tools a.item {
  padding-bottom: 16px;
}

.tools a.item:first-child {
  padding-top: 0;
}

.tools a.item.activated {
  border-color: #DDD;
  background-color: #FFF;
}

.tools a.item.activated span {
  color: #F14824;
}

.icon-loan span:before {
  background-image: url('../img/tools/calculator.svg');
}

.icon-loan.activated span:before {
  background-image: url('../img/tools/calculator-active.svg');
}

.icon-savings span:before {
  background-image: url('../img/tools/savings.svg');
}

.icon-savings.activated span:before {
  background-image: url('../img/tools/savings-active.svg');
}

.icon-dict span:before {
  background-image: url('../img/tools/dictionary.svg');
}

.icon-dict.activated span:before {
  background-image: url('../img/tools/dictionary-active.svg');
}
.icon-dict:visited span:before {
  background-image: url('../img/tools/dictionary-active.svg');
}

.icon-coaching span:before {
  background-image: url('../img/tools/coaching.svg');
}

.icon-coaching.activated span:before {
  background-image: url('../img/tools/coaching-active.svg');
}

.coaching ion-content {
  -webkit-overflow-scrolling: touch   !important;
  overflow-y: scroll !important;
}

.coaching .full-screen {
  width: 100%;
  height: 3630px;
}

.dictionary .big-header {
  width: 100%;
}

.dictionary .big-header ion-header-bar {
  background-image: url('../img/tools/dictionary-bg.png');
  background-repeat: repeat-y;
  background-size: 150% 100%;
}

.dictionary img {
  z-index: 10;
  position: relative;
  height: 75px;
  margin-top: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.dictionary ion-header-bar button * {
  color: #FFFFFF;
}

.dictionary .big-header label {
  z-index: 11;
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 360px;
}

.dictionary ion-content {
  padding-top: 15px;
}

.dictionary ion-content .term {
  padding: 7px 10%;
}

.dictionary .initial-tab {
  border-bottom: solid 1px #F25D2A;
  margin-bottom: 0.5em;
}

.dictionary .initial-tab {
  padding: 10px 10px 5px;
  display: block;
  color: #F25D2A;
  font-weight: bold;
  font-size: 1em;
}

.dictionary.mg-modal .header {
  background-image: url('../img/tools/dictionary-bg.svg');
  background-repeat: repeat;
  background-size: 106%;
  background-position: -11px top;
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.dictionary.mg-modal ion-content {
  position: absolute;
  top: 120px;
  font-family: 'YanoneKaffeesatz-Light';
  padding: 20px 30px;
}

.dictionary.mg-modal ion-content h1 {
  color: #F25D2A;
  font-size: 1.5em;
}

.dictionary.mg-modal ion-content p {
  font-size: 1.2em;
  line-height: 1.2em;
}

.modules .close-icon{
  z-index: 1;
  color: white;
}

.platform-ios .modules .background{
  background-color: #00529C;
  top:0;
  width: 100%;
  height: 19%;
  position: absolute;
  z-index: 0;
}

@media(max-width: 568px) {
  .platform-ios .modules .circle {
    margin: 10% 35% auto !important;
  }
}


.platform-ios .modules .circle{
  position: relative;
  display: block;
  margin: 0 9.3em;
  margin-top: 14%;
  background-color: transparent;
  color: #F15C2B;
  text-align: center;
}

.platform-ios .modules .circle:after{
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0%;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  background-color: #F15C2B;
  content:"";
  -webkit-appearance: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-shadow:6px 3px 10px rgba(0,0,0,0.2)
}

.platform-ios .modules .circle_inner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.platform-ios .modules .circle_wrapper{
  display:table;
  width: 100%;
  height: 100%;
}

.platform-android .modules .background{
  background-color: #00529C;
  top:0;
  width: 100%;
  height: 19%;
  position: absolute;
  z-index: 0;
}

.platform-android .modules .circle{
  position: relative;
  display: block;
  margin: 0 8.3em;
  margin-top: 17%;
  background-color: transparent;
  color: #F15C2B;
  text-align: center;
}

.platform-android .modules .circle:after{
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0%;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  background-color: #F15C2B;
  content:"";
  -webkit-appearance: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-shadow:6px 3px 10px rgba(0,0,0,0.2)
}

.platform-android .modules .circle_inner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.platform-android .modules .circle_wrapper{
  display:table;
  width: 100%;
  height: 100%;
}

.modules .content{
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  font-size: 1.7em;
  color:#ffffff;
}

.modules .list .item {
  z-index: 1;
  display:inline-block;
  font-size: 1.3em;
  color: #464648;
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.modules li{
  width: 86%;
  border: none;
  border-bottom: solid 2px #ECECEC;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
}

.module-level-label {
  width: 20%;
  float: right;
  color: white;
  padding: 5px;
  border-radius: 2px;
  background-color: #F15C2B;
}

.module-level-item {
  padding: 12px;
  border-style: none;
  border-top-style: solid;
}

.module-level-text {
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.none-top-border {
  border-top-style: none;
}
